backup/AP praca dyplomowa v2.1.docx
backup/AP praca dyplomowa v2.2.docx
backup/AP praca dyplomowa v2.3.1.docx
backup/AP praca dyplomowa v2.3.docx
backup/IoT/IoT_data_acq.py
backup/Lambda/lambda_function.py
backup/autoencoder copy/model.py
